#wynik, label, select, button, h1, .opis {
    color: white;
}

body {
    background-color: rgb(22, 21, 21);
    margin: 0;
    font-family: sans-serif;
}

.contener1 {
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 20px;
}

label {
    margin-left: 5vw;
}

select {
    background-color: #141414; 
    border: 1px solid #444;
    padding: 5px 15px;
    border-radius: 4px;    
    cursor: pointer;
    outline: none;         
    transition: 0.3s;
    margin-left: 10px;
}

input { cursor: pointer; }

.contener2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;    
    text-align: center; 
    justify-content: center;
}

.film {
    position: relative;
    display: inline-block;
}

button {
  background: #0389b6;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 20px;
}

button:hover { background: #1eb4e6; transform: scale(1.05); transition: 0.2s; }
button:active { background: #45c2ec; transform: scale(0.95); transition: 0.2s; }

img {
    width: 180px;
    height: 100px;
    margin: 20px;
}

img:hover {
    transform: scale(1.1);
    transition: 0.3s;
    box-shadow: 0 4px 8px rgba(181, 0, 247, 0.632);
    filter: blur(1px);
    transition: filter 0.5s ease 1.5s;
}

img:active { transform: scale(0.95); transition: 0.2s; }

span { font-size: 60px; }
.F { color: rgb(108, 108, 231); }

h1 {
    margin-left: 5vw;
    font-size: 40px;
    text-shadow: 10px 10px 70px rgb(43, 43, 181);
}

.opis {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 198px;
    height: 111px;
    margin-left: 11px;
    margin-top: 15px;
    background-color: rgba(47, 45, 45, 0.533);
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    opacity: 0;
    transition: 0.3s;
}

.film:hover .opis {
    opacity: 1;
}
