/* --- Reset i globalne ustawienia na start --- */
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(118, 25, 35);
  color: rgb(233, 233, 233);
  font-family: "Petit Formal Script", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#back-ground {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  opacity: 0.3;
}

/* --- Struktura, kontenery i flexbox --- */
.container {
  position: relative;
  width: 336px;
  height: 500px;
  border: 1px solid black;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.5);
}

.container img {
  position: absolute;
  z-index: -1;
  max-width: 100%;
  max-height: 100%;
  opacity: 1;
}

.login,
.buttons,
.password {
  display: flex;
  padding: 20px;
}

.login {
  flex-direction: column;
  gap: 30px;
}

.buttons {
  justify-content: space-around;
}
.label.remember-me,
.remember-me {
  display: inline-flex;
  align-items: center;
}

/* --- Teksty, nagłówki i linki --- */
header {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 20px;
}

a {
  color: rgb(202, 201, 201);
  text-decoration: none;
}

/* --- Style dla pól formularza (inputy) --- */
input {
  width: 100%;
  height: 50px;
  background-color: #f1d9dc;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  border: 1px solid transparent;
}

input:focus {
  background-color: #e3bdc2;
  outline: none;
}

/* --- Wszystkie przyciski i akcje (hover, active, sociale) --- */
.buttons button {
  width: 100px;
  height: 50px;
  padding: 2px;
  background-color: #fdf6e2;
  border: none;
  font-family: "Petit Formal Script", cursive;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    transform 0.1s ease;
}

.buttons button:hover {
  background-color: #e4ddca;
  transform: scale(1.02);
}

.buttons button:active {
  background-color: #bfb69c;
  transform: scale(0.95);
}

input[type="checkbox"] {
  transform: scale(0.5);
}
.social-icons {
  display: flex;
  gap: 65px;
  justify-content: center;
}

.btn-fb,
.btn-google {
  width: 40px;
  height: 40px;
  border: none;
  color: white;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btn-fb {
  background-color: #3b5998;
}

.btn-fb:hover {
  background-color: #2d4373;
}

.btn-google {
  background-color: #df4a32;
}

.btn-google:hover {
  background-color: #c53721;
}
