body {
    display: flex;
    justify-content: center;
    background-color: rgb(207, 255, 242);
    font-family: 'Segoe UI', sans-serif;
    margin: 40px ;
}

.box {
    padding: 20px;
    overflow: hidden;
    overflow-y: auto;
    width: 600px;
    max-height: 600px;
    border: none;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

ul {
    padding: 10px;
    list-style: none;
}

li {
    text-decoration-line: none;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    margin: 12px 0;
    padding: 8px;
    border-bottom: 1px solid white
}

h2 {
    margin: auto;
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    word-break: break-all;
    color: black;
    font-size: 20px;
}

button {
    width: 50px;
    height: 32px;
    border: none;
    border-radius: 6px;
    background-color:rgb(62, 165, 229);
    color: white;
    cursor: pointer;
    transition: background 0.2s;
}

button:hover {
    background-color: rgb(99, 183, 235);
}
button:active {
    background-color: rgb(146, 202, 238);
}

input {
    width: 300px;
    height: 35px;
    font-size: 18px;
    font-weight: bold;
    background-color: white;
    color: black;
    border: 3px solid rgb(164, 199, 255);
    border-radius: 6px;
    padding: 8px;
    box-sizing: border-box;
    outline: none;
}

input:focus {
    border-color: rgb(70, 159, 211)
}

.checkbox {
    width: 18px;
    height: 18px;
    cursor: pointer;
}
