li{
    width: 30px;
    height: 25px;
    margin: 2px;
    color: black;
    text-align: center;
    line-height: 25px;
  
}
.font{
    width: 30px;
    height: 25px;
    margin: 2px;
    color: black;
    text-align: center;
    line-height: 25px;
    font-size: 23px;
}