#line8,#line7,#line6,#line5,#line4,#line3,#line2,#line1{
    display: flex;
    justify-content: center; 
    align-items: center;
}
.colorSquare {
  width:80px;
  height: 80px;
  background-color: white;
  display:flex;
  justify-content: center;
  align-items: center;
  
}
.uncolorSquare{
  width:80px;
  height: 80px;
  background-color: #b497c7;
  display:flex;
  justify-content: center;
  align-items: center;
  
}
#contener {
  width: 640px;  
  height: 640px; 
  border: 3px solid rgb(87, 87, 220);
 
}

body{
    background-color: rgb(86, 83, 83);
    margin-left: 600px; 
    margin-top: 110px;        
}




.pawnw
{
  z-index: 100;
  position: absolute;
  cursor: grab;
  width:40px;
  height: 40px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  background-color: rgb(228, 203, 82);

}

.pawnb
{
  z-index: 100;
  position: absolute;
  cursor: grab;
  width:40px;
  height: 40px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  background-color: rgb(115, 99, 19);

}
.knightw{
   z-index: 100;
  position: absolute;
  cursor: grab;
  width:40px;
  height: 40px;
  clip-path: polygon(10% 30%, 100% 0%, 50% 80%, 0% 100%, 0% 20%);

  background-color: rgb(228, 203, 82);
}

.knightb{
   z-index: 100;
  position: absolute;
  cursor: grab;
  width:40px;
  height: 40px;
  clip-path: polygon(10% 30%, 100% 0%, 50% 80%, 0% 100%, 0% 20%);

  background-color: rgb(115, 99, 19);
}
.rockw{
   z-index: 100;
  position: absolute;
  cursor: grab;
  width:40px;
  height: 40px;
clip-path: polygon(
  0% 0%, 33% 0%, 33% 15%, 66% 15%, 66% 0%, 100% 0%, 
  100% 25%, 85% 25%, 85% 85%, 100% 100%, 
  0% 100%, 15% 85%, 15% 25%, 0% 25%
);
  background-color: rgb(228, 203, 82);
}
.rockb{
   z-index: 100;
  position: absolute;
  cursor: grab;
  width:40px;
  height: 40px;
clip-path: polygon(
  0% 0%, 33% 0%, 33% 15%, 66% 15%, 66% 0%, 100% 0%, 
  100% 25%, 85% 25%, 85% 85%, 100% 100%, 
  0% 100%, 15% 85%, 15% 25%, 0% 25%
);
  background-color: rgb(228, 203, 82);
}
.rockb{
   z-index: 100;
  position: absolute;
  cursor: grab;
  width:40px;
  height: 40px;
clip-path: polygon(
  0% 0%, 33% 0%, 33% 15%, 66% 15%, 66% 0%, 100% 0%, 
  100% 25%, 85% 25%, 85% 85%, 100% 100%, 
  0% 100%, 15% 85%, 15% 25%, 0% 25%
);
  background-color: rgb(115, 99, 19);}
  
