aside {
  position: fixed;
  left: 0;
  top: 90px;
  width: 40px;
  height: 100vh;
  background-color: aliceblue;
  font-size: 30px;
  transition: width 0.3s ease;
  display: inline-block;
}

.container.active aside {
  width: 25vw;
}
aside h2 {
  display: flex;
  justify-self: end;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.container.active aside h2 {
  transform: rotate(180deg);
}

aside input {
  width: 30px;
  height: 20px;
  position: absolute !important;
  right: 20px !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  margin: 0 !important;
  cursor: pointer;
}
label {
  display: block;
  position: relative;
  padding: 30px 50px 30px 20px;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  visibility: hidden;
}

label.active {
  visibility: visible;
  transition-delay: 0.2s;
}
